.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #1B4066 !important;
  }
  
  .Button:active {
    background-color: #1B4066 !important;
  }
  
  .Button:focus {
    background-color: #1B4066;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .Red,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #1B4066;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #1B4066;
    border: 2px solid #1B4066
  }
  
  .Bright {
    background-color: #018031;
    color: #ffffff;
  }

  .Red:hover {
    background-color: red;
    color:#ffffff;
    cursor: pointer;
  }