.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #018031;
    border-bottom: 1px solid #018031;
}

.Title  {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    color: #1B4066;
}
