.Post {
    text-align: center;
    background-color: #fff;
    border: 1px solid 1B4066;
    margin-bottom: 16px;
    border-radius: 2px;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Icon {
    color: #1B4066;
}

.Icon:hover {
    color: #018031;
}

.IconOutline:hover {
    color: #1B4066;
}

.PostImage {
    max-width: 100%;
    max-height: auto;
}